%headings {
  margin: 0;
  color: $grey30;
  line-height: 1.4;
  text-align: center;
  font-weight: 600;
}

.c-h1 {
  @extend %headings;
  font-size: calc-rem(30px);
}

.c-h2 {
  @extend %headings;
  font-size: calc-rem(26px);
}

.c-h3 {
  @extend %headings;
  font-size: calc-rem(17px);
}

.c-p {
  font-size: 1rem;
  margin: 0;
}
