// Typography
.u-font-small { font-size: calc-rem(14px); }
.u-font-xsmall { font-size: calc-rem(13px); }

// Colors
.u-blue10 { color: $blue10; }
.u-red20 { color: $red20; }
.u-grey10 { color: $grey10; }
.u-grey30 { color: $grey30; }
.u-bold { font-weight: 600; }
.u-opaque-half { opacity: .5; }

// Alignment
.u-inline-center { text-align: center !important; }
.u-inline-right { text-align: right !important; }
.u-inline-left { text-align: left !important; }
.u-float-right { float: right !important; }
.u-block { display: block; }
.u-vertical-middle { vertical-align: middle; }

// Background
.u-bg-grey1 { background-color: $grey1 !important; }
.u-bg-grey4 { background-color: $grey4 !important; }

// 7. Margin
$margin: 5 10 15 20 30 50;

@each $item in $margin {
  .u-margin-#{$item} {
    margin: #{$item}px !important;
  }
  .u-margin-t-#{$item} {
    margin-top: #{$item}px !important;
  }
  .u-margin-r-#{$item} {
    margin-right: #{$item}px !important;
  }
  .u-margin-b-#{$item} {
    margin-bottom: #{$item}px !important;
  }
  .u-margin-l-#{$item} {
    margin-left: #{$item}px !important;
  }
  .u-margin-x-#{$item} {
    margin-left: #{$item}px !important;
    margin-right: #{$item}px !important;
  }
  .u-margin-y-#{$item} {
    margin-top: #{$item}px !important;
    margin-bottom: #{$item}px !important;
  }
}

// 8. Padding
$padding: 10 15 20 25 30 40 50 60 65;

@each $item in $padding {
  .u-padding-#{$item} {
    padding: #{$item}px !important;
  }
  .u-padding-t-#{$item} {
    padding-top: #{$item}px !important;
  }
  .u-padding-r-#{$item} {
    padding-right: #{$item}px !important;
  }
  .u-padding-b-#{$item} {
    padding-bottom: #{$item}px !important;
  }
  .u-padding-l-#{$item} {
    padding-left: #{$item}px !important;
  }
  .u-padding-x-#{$item} {
    padding-left: #{$item}px !important;
    padding-right: #{$item}px !important;
  }
  .u-padding-y-#{$item} {
    padding-top: #{$item}px !important;
    padding-bottom: #{$item}px !important;
  }
}

//
.u-overline {
  position: relative;
  display: inline-block;
  margin: 0 auto;

  &::after,
  &::before {
    position: absolute;
    top: 57%;

    display: block;
    content: '';
    height: 1px;
    width: 15px;
    background-color: $grey10;
  }

  &::after {
    right: -20px;
  }

  &::before {
    left: -20px;
  }
}
