<svg width="83px" height="25px" viewBox="0 0 83 25" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="c-logo">

    <title>Logo</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Main-🔥🔥🔥" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Homepage_1" transform="translate(-135.000000, -58.000000)" fill="#000000">
            <g id="Menu" transform="translate(135.000000, 50.000000)">
                <g id="Logo" transform="translate(0.000000, 8.000000)">
                    <path d="M21.4,19 L24,19 L24,15.68 L25.34,14.16 L25.38,14.16 L28.62,19 L31.5,19 L27.34,12.7 L31.16,8.4 L27.9,8.4 L24.04,12.78 L24,12.78 L24,4.4 L21.4,4.4 L21.4,19 Z M32.9,19 L35.5,19 L35.5,8.4 L32.9,8.4 L32.9,19 Z M32.9,6.86 L35.5,6.86 L35.5,4.4 L32.9,4.4 L32.9,6.86 Z M38.3,19 L41,19 L41,4.4 L38.3,4.4 L38.3,19 Z M43.8,19 L46.5,19 L46.5,4.4 L43.8,4.4 L43.8,19 Z M51.9,12.72 L51.9,14.66 C51.9,15.88 52.72,16.96 54.18,16.96 C55.66,16.96 56.58,15.88 56.58,13.7 C56.58,11.5 55.66,10.44 54.18,10.44 C52.72,10.44 51.9,11.5 51.9,12.72 Z M49.3,19 L49.3,4.4 L51.9,4.4 L51.9,9.42 L51.94,9.42 C51.94,9.42 52.78,8.1 54.64,8.1 C57.2,8.1 59.18,10.3 59.18,13.7 C59.18,17.1 57.38,19.3 54.58,19.3 C52.64,19.3 51.78,17.98 51.78,17.98 L51.74,17.98 L51.74,19 L49.3,19 Z M61.18,15.24 C61.18,17.58 62.22,19.3 64.8,19.3 C66.32,19.3 67.22,18.44 67.56,17.98 L67.6,17.98 L67.6,19 L70.08,19 L70.08,8.4 L67.48,8.4 L67.48,14.76 C67.48,16.28 66.52,16.8 65.38,16.8 C64.3,16.8 63.78,16.34 63.78,14.96 L63.78,8.4 L61.18,8.4 L61.18,15.24 Z M79.66,14.78 L79.66,12.6 C79.66,11.44 78.8,10.44 77.38,10.44 C75.92,10.44 74.78,11.5 74.78,13.7 C74.78,15.88 75.92,16.96 77.38,16.96 C78.8,16.96 79.66,15.96 79.66,14.78 Z M72.94,21.16 L74.88,19.82 C75.48,20.96 76.16,21.54 77.42,21.54 C78.68,21.54 79.66,20.94 79.66,19.32 L79.66,17.98 L79.62,17.98 C79.24,18.64 78.2,19.3 76.98,19.3 C74.38,19.3 72.18,17.32 72.18,13.7 C72.18,10.08 74.54,8.1 76.94,8.1 C78.4,8.1 79.28,8.8 79.74,9.42 L79.78,9.42 L79.78,8.4 L82.26,8.4 L82.26,19 C82.26,22.22 80.14,23.8 77.42,23.8 C75.1,23.8 73.6,22.66 72.94,21.16 Z" id="killbug"></path>
                    <path class="c-logo-lightning" fill-rule="nonzero" d="M10.9091184,6.42138162e-05 C10.602107,-0.00342470474 10.3018008,0.135372791 10.1130307,0.388518227 L0.185045001,13.6283164 C-0.029428385,13.9155496 -0.0594776299,14.2941786 0.105420709,14.6105855 C0.270381133,14.9260886 0.606137981,15.1247762 0.969988401,15.1247762 L4.95880905,15.1247762 L2.6262668,23.188902 C2.49914732,23.6286985 2.71452094,24.0920197 3.13760065,24.2907133 C3.27244975,24.3556801 3.41903295,24.3857818 3.56071141,24.3857818 C3.86151429,24.3857818 4.15735036,24.2483612 4.34459999,23.9978611 L14.2728024,10.7579126 C14.4892004,10.4706824 14.5191876,10.0921678 14.3542892,9.77572172 C14.1873421,9.46025479 13.853603,9.26152503 13.4877659,9.26152503 L9.50080838,9.26152503 L11.8315185,1.19747732 C11.9585759,0.75768076 11.7450959,0.294287307 11.3220472,0.0955876702 C11.1895263,0.0326063632 11.0486239,0.00164899029 10.9091184,6.42138162e-05 L10.9091184,6.42138162e-05 Z M8.50719655,5.73383368 L7.28849477,9.95086664 C7.20703896,10.2343368 7.26723058,10.5394936 7.44960591,10.7739742 C7.63396796,11.0094009 7.91924954,11.1469059 8.22293938,11.1469059 L11.5831155,11.1469059 L5.95440761,18.6543864 L7.17307835,14.4382697 C7.25652088,14.1538927 7.19539799,13.8496668 7.01202929,13.6142432 C6.82769828,13.3787803 6.54241671,13.2413145 6.23872686,13.2413145 L2.87662544,13.2413145 L8.50719655,5.73383368 L8.50719655,5.73383368 Z" id="Flash"></path>
                    <path class="c-logo-lightning-colored" d="M10.9091184,6.42138162e-05 C10.602107,-0.00342470474 10.3018008,0.135372791 10.1130307,0.388518227 L0.185045001,13.6283164 C-0.029428385,13.9155496 -0.0594776299,14.2941786 0.105420709,14.6105855 C0.270381133,14.9260886 0.606137981,15.1247762 0.969988401,15.1247762 L4.95880905,15.1247762 L2.6262668,23.188902 C2.49914732,23.6286985 2.71452094,24.0920197 3.13760065,24.2907133 C3.27244975,24.3556801 3.41903295,24.3857818 3.56071141,24.3857818 C3.86151429,24.3857818 4.15735036,24.2483612 4.34459999,23.9978611 L14.2728024,10.7579126 C14.4892004,10.4706824 14.5191876,10.0921678 14.3542892,9.77572172 C14.1873421,9.46025479 13.853603,9.26152503 13.4877659,9.26152503 L9.50080838,9.26152503 L11.8315185,1.19747732 C11.9585759,0.75768076 11.7450959,0.294287307 11.3220472,0.0955876702 C11.1895263,0.0326063632 11.0486239,0.00164899029 10.9091184,6.42138162e-05 L10.9091184,6.42138162e-05 Z" id="Flash-Copy" fill="#FFB742" fill-rule="nonzero"></path>
                </g>
            </g>
        </g>
    </g>
</svg>
