.l-grid-row {
	@include make-row($grid-gutter-width);

	&--no-gutter {
		margin-left: 0;
		margin-right: 0;

		> [class^="l-col-"],
		> [class*=" l-col-"] {
			padding-left: 0;
			padding-right: 0;
		}
	}
}

@for $i from 1 through 12 {
	.l-col-#{$i} {
		@include make-sm-column($i, $grid-gutter-width);
	}
}

@for $i from 1 through 12 {
	.l-col-#{$i}-md {
		@media (max-width: $screen-md-min - 1px) {
			@include make-sm-column($i, $grid-gutter-width);
		}
	}
}
