$header-height: 68px;

.c-header {
	position: relative;
	background-color: #FFFFFF;
	border-bottom: 1px solid $grey20;
	height: $header-height;
	z-index: map-get($z-index, header);

	.l-container {
		text-align: justify;

		&::after {
			content: '';
			display: inline-block;
			width: 100%;
		}
	}

	&__account {
		position: relative;
		display: inline-block;
		padding-right: 25px;

		.c-icon {
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
			font-size: 20px;
		}
	}

	.c-logo-brand {
		height: 25px;
		margin-top: ($header-height - 25px) / 2;
		display: inline-block;
	}
}
