$input-height: 40px;

.c-form-group {
	& + & {
		margin-top: 30px;
	}
}

.c-form-control {
	display: block;
	width: 100%;
	background-color: $white;
	border: $border;
	border-radius: $border-radius;
	height: $input-height;
	line-height: $input-height;
	padding-left: 10px;
	padding-right: 10px;
	transition: border-color $transition;

	@include placeholder($grey40);

	&:hover,
	&:focus {
		outline: 0;
		border-color: $blue10;
	}

	&--select {
		color: $grey40;
	}
}

.c-form-label {
	display: block;
	color: $grey30;
	margin-bottom: 5px;
}

.c-addon-container {
	position: relative;
	.c-link {
		font-size: 13px;
		position: absolute;
		right: 10px;
		top: 50%;
		transform: translateY(-50%);
		text-decoration: none;
	}

	&--reveal {
		.c-form-control {
			padding-right: 60px;
		}
	}
}

.c-addon-container {
	position: relative;
	.c-icon {
		color: $grey10;
		font-size: 16px;
		position: absolute;
		right: 10px;
		top: 50%;
		transform: translateY(-50%);
		pointer-events: none;
	}

	.c-p {
		padding-right: 30px;
	}
}
