// -----------------------------
// Font
// -----------------------------
$font-base: "Source Sans Pro",Helvetica,Arial,sans-serif;

// -----------------------------
// Colors
// -----------------------------
$white: white;
$black: black;

$grey1: #F1F1F6;
$grey4: #F9F9F9;
$grey5: #F8F8F8;
$grey10: #6D7785;
$grey20: #D8D9DC;
$grey30: #1D1D1F;
$grey40: #989DA5;

$blue10: #199DFF;

$yellow10: #FFB742;

$red10: #EE6A80;
$red20: #D9464A;

$green10: #78C182;

// -----------------------------
// Border
// -----------------------------
$border: 1px solid $grey20;

$border-radius: 3px;
$border-radius-large: 100px;

// -----------------------------
// Transition
// -----------------------------
$transition-timing: .4s;
$transition-easing: ease;

$transition: $transition-timing $transition-easing;

// -----------------------------
// Bootstrap variables
// -----------------------------
@import "../vendor/bootstrap-variables";
@import "./node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";

// -----------------------------
// z-index - map-get($z-index, header);
// -----------------------------
$z-index: (
	header: 5,
	content: 4,
	background:3
);
