{{ partial "head" . }}

<div class="u-inline-center u-padding-y-60">
	<a href="/" class="c-logo-brand">
		{{ partial "logo-killbug" . }}
	</a>
</div>

<div class="l-container-6 l-container--580">
	<div class="c-card u-padding-y-50">
		<div class="l-container-4 l-container--360">
			<h1 class="c-h2"> Sign in </h1>
			<button class="c-button c-button--radius-md c-button--github c-button--no-border c-button--full-width u-margin-t-30"> <img class="c-img" src="/img/github-logo.svg" alt=""> Connect with Github </button>
			<button class="c-button c-button--radius-md c-button--twitter c-button--no-border c-button--full-width u-margin-t-10"> <img class="c-img" src="/img/twitter-logo.svg" alt=""> Connect with Twitter </button>

			<div class="u-inline-center">
				<p class="c-p u-margin-t-30 u-overline">or</p>
			</div>

			<div class="c-alert c-alert--danger u-margin-t-30">
				<p class="c-p u-small">Invalid login or password 👻</p>
			</div>

			<div class="c-form-group u-margin-t-30">
				<label for="email" class="c-form-label">
					Email address
					<span class="u-red20 u-float-right">Invalid format</span>
				</label>
				<input id="email" name="email" type="text" class="c-form-control" placeholder="Enter your email address…">
			</div>

			<div class="c-form-group">
				<label for="password" class="c-form-label">Password</label>
				<div class="c-addon-container c-addon-container--reveal">
					<input id="password" name="password" type="password" class="c-form-control js-toggle-password-input" placeholder="Enter your password…">
					<button type="button" class="c-link js-toggle-password">Reveal</button>
				</div>
			</div>


			<div class="l-grid-table u-margin-t-30">
				<div class="l-grid-table__cell l-grid-table__cell--main">
					<a href="#" class="c-link">Forgot password?</a>
				</div>
				<div class="l-grid-table__cell">
					<button class="c-button">
						Let’s go!
					</button>
				</div>
			</div>
		</div>
	</div>
	<div class="u-inline-center u-margin-t-15">
		<p class="c-p">Don’t have an account? <a href="#" class="c-link">Sign up here</a></p>
	</div>
</div>

{{ partial "footer" . }}
